<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursal1">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".viewmodel.ViewModelActivity2">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".viewmodel.ViewModelActivity">
    </activity>
    <activity android:name=".room.RoomActivity">
    </activity>
    <activity android:name=".sharedpreferences.SharedPreferencesActivity">
    </activity>
    <activity android:name=".webservicies.ApiListActivity">
    </activity>
    <activity android:name=".webservicies.MyWebserviciesActivity">
    </activity>
    <activity android:name=".recyclerview.MyRecyclerActivity">
    </activity>
    <activity android:name=".resources_layouts.LayoutExampleActivity">
    </activity>
    <activity android:name=".fragments.exercise.FragmentExerciseActivity">
    </activity>
    <activity android:name=".fragments.SimpleFragmentActivity">
    </activity>
    <activity android:name=".navigation.exercise.WeightActivity">
    </activity>
    <activity android:name=".navigation.exercise.NameActivity">
    </activity>
    <activity android:name=".navigation.ActivityC">
    </activity>
    <activity android:name=".navigation.ActivityB">
    </activity>
    <activity android:name=".navigation.ActivityA">
    </activity>
    <activity
        android:name=".LifeCycleActivity"
        android:configChanges="orientation"
        android:screenOrientation="portrait">
    </activity>
    <activity android:name=".LogicExerciseActivity">
    </activity>
    <activity android:name=".MainActivity">
    </activity>
  </application>

</manifest>